

<!DOCTYPE html>
<html>

<head>
	<title>Student Registration Form</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/login.css" />
	
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<!-- Custom Theme files -->
	<link href="css/userreg.css" rel="stylesheet" type="text/css" media="all" />

	<!-- //Custom Theme files -->
	<!-- web font -->

	<!-- //web font -->


</head>

<body class="subpage">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				
				<!-- main -->
				<form class="login100-form validate-form" action="" method="post" id="regform">

					<div class="wrap-input100 validate-input m-b-26">
				
						<input class="input100" type="text" placeholder="Admission Number" name="admno" id="admno">
						<span class="focus-input100"></span>
						<span id="avail"></span>
					</div>

				

					<input type="submit" name="submit" value="REGISTER">

				</form>
			</div>
		</div>

		



	</div>


</body>



</html>
