<!DOCTYPE html>
<html>
	<head>	<title>HOME</title>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
		<link rel='stylesheet' href='/stylesheets/assets/css/main.css' />
  </head>
  <body>
		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><strong>DEPARTMENT OF COMPUTER APPLICATION</strong></a>
					<nav id="nav">
						<a href="https://ca.cet.ac.in/about-mca-cet/" target="_blank">ABOUT US</a>
						<a href="https://ca.cet.ac.in/contact/" target="_blank">CONTACT US</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>


		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Book Room </h1>
					</header>

					<div class="flex ">

						<div>
                            <span class="icon fa-user"></span>
                            <footer>
								<a href="/librarian/librarianLogin" class="button">Librarian</a>
							</footer>

						</div>

						<div>
                            <span class="icon fa-child"></span>
                            <footer>
								<a href="/patron/patronLogin" class="button">Patron</a>
							</footer>
						</div>

				<!--		<div>
                            <span class="icon fa-book"></span>
                            <footer>
								<a href="userreg.php" class="button">REGISTRATION</a>
							</footer>

						</div>  -->

			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<div class="image round">
								<img src='/images/pict2.jpeg'alt="Pic 01" />
							</div>
							<header>
								<h3>Our Vision</h3>
							</header>
							<p>To uplift our nation to the forefront</br> of international society by way of advanced computer education.</p>

						</article>
						<article>
							<div class="image round">
								<img src="/images/pict.jpeg" alt="Pic 02" />
							</div>
							<header>
								<h3>Our Mission</h3>
							</header>
							<p>To provide quality education and promote academic growth</br> by offering state-of-the-art postgraduate programme with world class facilities to students from all sections of the society.</p>
	
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->


		<!-- Scripts -->
           >

	</body>
</html>