<!DOCTYPE html>
<html>
	<head>
		<title>MCA LIBRARY</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/stylesheets/assets/css/login.css"/>
		<link rel="icon" type="image/png" href='/images/icons/favicon.ico'/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/animate/animate.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/css-hamburgers/hamburgers.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/animsition/css/animsition.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/select2/select2.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/daterangepicker/daterangepicker.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/css/util.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/css/main.css">
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><strong>MCA</strong> LIBRARY</a>
					<nav id="nav">
						<a href="/">Home</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>
			<div class="limiter">
				<div class="container-login100">
					<div class="wrap-login100">
						<div class="login100-form-title" style="background-image: url(/images/bg-01.jpg);">
							<span class="login100-form-title-1">
								Librarian Log In
							</span>
						</div>
		
						<form class="login100-form validate-form" method="post" action="/librarian/librarianLogin">
						{{#if loginErr}}<p class="error" style="color: red;"> Invalid Library ID or Password</p>{{/if}}
							<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
								<span class="label-input100">Library ID</span>
								<input class="input100" type="text" name="Library_ID" placeholder="Enter Library ID" required>
								<span class="focus-input100"></span>
							</div>
		
							<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
								<span class="label-input100">Password</span>
								<input class="input100" type="password" name="Password" placeholder="Enter Password" required>
								<span class="focus-input100"></span>
							</div>
		

		
							<div class="container-login100-form-btn">
								<button class="login100-form-btn" type="submit" name="login_btn">
									Login
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>

	</body>
</html>